.button {
    display: flex;
    justify-content: center;
    /* Alinha horizontalmente */
    align-items: center;
    /* Alinha verticalmente */
    height: 80vh;
    /* Exemplo: altura total da viewport */
}

.tittles {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 10%;
    margin-bottom: 10px;
    padding: 1%; 
}

.tittle{
display: flex;
margin-bottom: -35px;    
}

.subtittle{
display: flex;
font-size: 16px;
color: #666666;
}

.input{
    display: flex;
    flex-direction: column;
}

.botao{
    display: flex;
    
    align-items: center;     
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 414px;
    width: 90%;
}

label{
    padding: 1%;
}
