body {
    background-image: url(http://localhost:8080/img/artes/experiencie-com-amigos.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    align-content: end;
}

#base {

}

#experiencie {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top: 30%;
    padding-bottom: 55%;
    margin-left: -2%;
    margin-right: -2%;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.dot {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #47B3A8;
    opacity: 55%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.dot1 {
    left: 43%;
}

.dot2 {
    left: 50%;
}

.dot3 {
    background-color: #F58700;
    opacity: 100%;
    left: 57%;
}

#texto {
    display: flex;
    width: 85%;
    text-align: center;
    font-size: 20px;
    color: #666;
}

#instrucao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 5px;
    margin-bottom: -45%;
    padding-top: 20%;
}

.botoes {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 80%;
}

#proximo {
    font-weight: bold;
}

#pular {
    text-decoration: underline;
    background-color: transparent;
}

h1 {
    display: flex;
    text-align: center;
    margin-bottom: 3%;
}