.card {
  background:
    linear-gradient(to top, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 80%),
    url("http://localhost:8080/img/artes/aprenda-receitas.png") no-repeat center/cover;
}

.dots span:first-child {
  background: #F58700;
  opacity: 1;
}