#senha{
    text-decoration: underline;
    font-size: 16px;
}

#aviso{
    text-align: center;
}

/* Tablet (largura entre 768px e 1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
    #senha {
        font-size: 14px;
    }
    #aviso {
        text-align: center;
        padding: 10px;
    }
}

/* Celular (largura até 767px) */
@media (max-width: 767px) {
    #senha {
        font-size: 12px;
    }
    #aviso {
        text-align: center;
        padding: 5px;
    }
}