body {
    margin: 0;
    padding: 2vh 4vw;
    color: #000;
    background-color: #fffaf5;
}


h1, h2 {
    margin: 0 0 2vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{ 
    display: flex;
    flex-direction: row;
    margin: 1.5vh 0 1vh 0; 
    align-items: center;
    justify-content: center;
}

/* ===== Perfil ===== */
.perfil {
    display: flex;
    gap: 2vh;
    align-items: center;
}

.foto_usuario img,
.personagem {
    width: 33.5vw;   /* proporcional à largura da tela */
    height: 33.5vw;
    border-radius: 8vw;
    object-fit: cover;
    background-color: #ccc;
}

.dados_usuario {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.3vh;
}

.nome_usuario {
    font-size: 4.5vw;
    font-weight: 600;
    margin: 0;
    line-height: 1;
    margin-left: 0.5vh;
}

.adjetivo {
    background-color: #FFE4C2;
    border: 1px solid #F58700;
    border-radius: 15px;
    padding: 0.5vh 1vw;
    font-size: 3vw;

}

/* ===== Barra de progresso ===== */

/* ===== Grid de pratos ===== */
.pratos_feitos h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
    font-size: 4vw;
}

.grid_pratos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
}

.grid_pratos img {
    width: 100%;
    aspect-ratio: 1 / 1; /* mantém proporção quadrada */
    object-fit: cover;
    border-radius: 8px;
}
